/* No consistency in CSS classes, inline styles dominate */
body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

header {
  text-align: center;
  padding: 10px;
  background-color: #e0e0e0;
}

.item-container {
  display: flex;
  flex-direction: column;
}

.product {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap:20px;
  padding: 2%;
}
p {
color:#001858;
}
